{% extends 'login/base.html' %}		
		{% block header %}
        <meta name="renderer" content="webkit">
		{% endblock %}
        {% block css %}{% endblock %}
        {% block js %}
		<script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
	{% endblock %}
	
{% block content %}
	<body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" method="post" >
                  {%csrf_token%}
                    {% if new_user %}
                  <div class="layui-form-item">
                      <label for="username" class="layui-form-label">
                          <span class="x-red">*</span>登录名
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="username" name="username" required="" lay-verify="required"
                          autocomplete="off" class="layui-input" value="{{ new_user.name }}">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>将会成为您唯一的登入名
                      </div>
                  </div>
                        {% else %}
                        <div class="layui-form-item">
                      <label for="username" class="layui-form-label">
                          <span class="x-red">*</span>登录名
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="username" name="username" required="" lay-verify="required"
                          autocomplete="off" class="layui-input" value="">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>将会成为您唯一的登入名
                      </div>
                  </div>
                    {% endif %}
                  <div class="layui-form-item">
                      <label for="phone" class="layui-form-label">
                          <span class="x-red">*</span>手机
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="phone" name="phone" required="" lay-verify="phone"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>将会成为您唯一的登入名
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">
                          <span class="x-red">*</span>邮箱
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="L_email" name="email" required="" lay-verify="email"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>
                      </div>
                  </div>
				  <div class="layui-form-item">
                        <label for="shipping" class="layui-form-label">
                            <span class="x-red">*</span>角色</label>
                        <div class="layui-input-inline">
                            <select id="shipping" name="role" class="valid">
                                <option value="manager">管理员</option>
                                <option value="worker">操作员</option></select>
                        </div>
                    </div>
                  <div class="layui-form-item">
                      <label for="L_pass" class="layui-form-label">
                          <span class="x-red">*</span>密码
                      </label>
                      <div class="layui-input-inline">
                          <input type="password" id="L_pass" name="password1" required="" lay-verify="pass"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          6到16个字符
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                          <span class="x-red">*</span>确认密码
                      </label>
                      <div class="layui-input-inline">
                          <input type="password" id="L_repass" name="password2" required="" lay-verify="pass"
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="add" type="submit">
                          增加
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <!-- <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)',
                function(data) {
                    console.log(data);
                    //发异步，把数据提交给php
                    layer.alert("增加成功", {
                        icon: 6
                    },
                    function() {
                        //关闭当前frame
                        xadmin.close();

                        // 可以对父窗口进行刷新
                        xadmin.father_reload();
                    });
                    return false;
                });

            });</script>-->
<!--
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(add)',
                function(data) {
                    console.log(data);



                    layer.alert("增加成功", {
                        icon: 6
                    },
                    function() {
                        //关闭当前frame
                        xadmin.close();

                        // 可以对父窗口进行刷新
                        xadmin.father_reload();
                    });
                    xadmin.close();
                        // 可以对父窗口进行刷新
                    //xadmin.father_reload();
                    return false;
                });
            });</script>   -->



         <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

			//下边这个是得到父窗口索引，以作出判断，如果是1，则说明是弹窗，通过ajax提交数据，如果是未定义，则说明是
			//通过左侧导航栏点击进来的，不需要通过ajax,通过正常post进行提交。
                var index = parent.layer.getFrameIndex(window.name);
                if(index==1){
                    //监听提交
                    form.on('submit(add)', function(data){
                        var username = $('#username').val();
                        var phone = $('#phone').val();
                        var password1 = $('#password1').val();
                        var email = $('#email').val();
                        var role = $('#role').val();
                        //var cate_ename = $('#cate_ename').val();
                        //var cate_title = $('#cate_title').val();
                        //var cate_keywords = $('#cate_keywords').val();
                        //var descripton = $('#descripton').val();
                        //发异步，把数据提交给php
                        $.ajax({

                            type: "POST",
                            url: "/",
                            headers: { "X-CSRFToken": "{{ csrf_token }}" },
                            //headers:{'X-CSRFtoken':$('#csrf').text()},
                            data:{username:username,phone:phone,password1:password1,email:email,role:role},
                            dataType: "json",//这里特别需要注意，平常数据类型都是json,但是这里必须填html，否则无法提交成功
                            success: function(response){
                               // layer.alert("修改成功");   //test
                                if(response.status){
                                    layer.alert("修改成功", {icon: 6},function () {
                                        // // 获得frame索引
                                        // var index = parent.layer.getFrameIndex(window.name);
                                        // console.log(index);
                                        // //关闭当前frame
                                        // parent.layer.close(index);

                                        xadmin.close();
                                        // 可以对父窗口进行刷新
                                        xadmin.father_reload();
                                    });
                                }else{
                                    layer.msg("修改失败",{icon: 5});
                                }
                            }
                        });

                        return false;
                    });

                }


            });
</script>


    <script>layui.use(['form', 'layer']);</script>
        
    </body>
{% endblock %}
