<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}报表查询系统{% endblock %}</title>
	{% block header %}<meta name="renderer" content="webkit|ie-comp|ie-stand">{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
{% block content %}{% endblock %}
</html>